
.container {
    max-width: 960px;
  }
  
  /*
   * Custom translucent site header
   */

   .nav-item{
    margin-right:90px;
  }

 #redblack img{
     margin-top: 10rem;
   }
  
  .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  /* .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  } */
  
  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */
  


   video {
    position: absolute;
      right: 0;
      bottom: 0;
      width: auto;
      min-width: 100%;
      height: auto;
      min-height: 100%;
      background: #000;
      background-size: cover;
  }
  

  .jumbotron {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
  }
  
  .jumbotron .container {
    position: relative;
    top: 100px;
  }
  
  .jumbotron h1 {
    color: #fff !important;
    font-size: 48px;  
    font-family: 'Shift', sans-serif;
    font-weight: bold;
   
  }
  
  .jumbotron p {
    font-size: 20px;
    color: #fff;
  }

  .overlay {
        position: absolute;
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        /* z-index: 1; Specify a stack order in case you're using a different order for other elements */
  }

  .logo{
    margin-top:10%;
  }
  .header{
  display: flex;
  flex-direction: row;
}
   .header-video {
    position: relative;
    overflow: hidden;
  }
  .display-4{
    font-family: 'Contrail One', cursive, sans-serif;
}

  #logo{
      font-family: 'brushstrike';
      font-size: 8em;
  }
  #logo-top{
      padding: 1%;
      height: 2rem;
      width:1rem;
  }
  #title{
      z-index: 1;

  }
  #topbutton{
      background: white;
      border-radius: 0%;
      border-left: red solid 2px;
      border-bottom: red solid 2px;
      padding: 15px;
      margin:5px;
      color:black;
      font-family: 'Contrail One', sans-serif;
  }

  #triangle-down {
    position: relative;
    width: 0%;
    height: 0;
    top:99px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid white;
    left: 45%;
    z-index: 5;
  }


/* .card *, .flex-column * {
    min-height: .01px;
    font-family: "Contrail One";
} */
img, figure {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}


img {
    vertical-align: middle;
    border-style: none;
}


/* Icon 2*/

.animated-icon2 span:nth-child(1) {
  top: 0px;
  }
  
  .animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
  top: 10px;
  }
  
  .animated-icon2 span:nth-child(4) {
  top: 20px;
  }
  
  .animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
  }
  
  .animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  }
  
  .animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  }
  
  .animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
  }
  
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.085);
    border-radius: .4375rem;
    font-family: "contrail one";
    box-shadow: 0 15 px 60px rgba(0,0,0.5);
    color:black;
}

.product-title:hover {
    color:rgb(139, 6, 6);
    font-size: 2em;
}
.product-title a{
    color:black;
   
}




.btn-primary{
    background: red;
    border: solid 2px red;
}
.card-img-top{
    width:200px;
    height:300px;
}
  .container-fluid{
      text-align: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: black;
    color:white;
    font-family: "Contrail one";
    background-image: url("images2/Screen\ Shot\ 2019-11-04\ at\ 1.08.35\ AM.png");
    /* Set a specific height */
      /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .container-fluid,h1, h3{

    position: relative;
    top:80%;

  }
  .d-flex{
      display: none;
  }
  .d-flex:hover{
      display: block;
  }
  .k{
   margin-bottom:5%;
   display: flex;
  } 
  .gear{
      width: 20rem;
      height: 30rem;
      margin-right: 2%;
      border: black solid 15px;
      border-right: transparent;
   
  }
  .left{
    font-family: "contrail one";
    font-size: 3rem;
    position: absolute;
    top: 65%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
  }

  .right{
    font-family: "contrail one";
    font-size: 3rem;
    position: absolute;
    top: 65%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;

  }
  .centered {
    font-family: "contrail one";
    font-size: 3rem;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;

  }

  
  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }
  
  
  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }
